@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-light-primary dark:bg-dark-primary;
    @apply text-light-text dark:text-dark-text;
  }
  
  body {
    @apply bg-light-primary dark:bg-dark-primary;
    @apply text-light-text dark:text-dark-text;
    @apply min-h-screen;
    overscroll-behavior-y: none;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input[type="checkbox"] {
  background-color: #c9e6ec; /* or any dark color you prefer */
  appearance: none;
  -webkit-appearance: none;
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  /* Adjust duration and timing function as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
}